
#edit-style-options-default-marker .form-item.form-type-select,
#edit-style-options-default-marker .form-item.form-type-textfield,
#edit-style-options-visitor-marker .form-item.form-type-select,
#edit-style-options-visitor-marker .form-item.form-type-textfield {
  display: inline-table;
  margin-right: 1em;
  width: 30%;
}

.ip-geoloc-cluster-levels .form-item.form-type-select,
.ip-geoloc-cluster-levels .form-item.form-type-textfield {
  display: inline-table;
  margin-right: 1em;
  max-width: 200px;
}
